.box {
    background-color: rgba(255, 251, 0, 0.932);
    height: 600px;
    width: 500px;
}

.box1 {
    background-color: burlywood;
    height: 10%;
}

.box2 {
    background-color: aqua;
    height: 10%;
}

.box3 {
    background-color: blueviolet;
    height: 10%;
}

.box4 {
    background-color: chartreuse;
    height: 10%;
}