* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
}
.container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(255, 255, 255);
}

.box {
margin: 19px;

}

.box1 {
    background-color: brown;
    border: 2px solid black;
    border-bottom: hidden;

}

.box2 {

}

.box3 {

}

.box4 {

}

.box5 {

}

