.dabba {
    display: flex;
}

body {
 background-color: rgb(181, 111, 20);
}

.box {
    margin: 35px;
    font-size: 22px;
    padding: 15px;
    background-color: rgb(56, 222, 56);
    border: none;
    border-radius: 31px;
}

#AddToBag2 {
    text-transform: uppercase;
    margin: 35px;
    font-size: 22px;
    padding: 15px;
    background-color: rgb(159, 124, 124);
    border: solid black 4px;
    border-radius: 31px;
}