*{
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    height: 70px;
    font-size: 25px;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 700;
}

.image {
    background-image: url(assets/myntra.svg);
    width: 38px;
}

.img {
    background-image: url(assets/download\ \(3\).webp);
    height: 200px;
}
